<main>
    <h2>Om sida</h2>
    <section class="layoutAbout">
        <div class="abtDivLeft">
            <h3>Syfte:</h3>
            <p>
                Webbplatsens syfte är att tillåta användare att konvertera värden till ett annat måttenhet.
            <br>
                Webbplatsen har tre sidor:
            </p>
            <ul>
                <li>
                    <b>Startsidan</b> där det finns en fin bild av en snöig höst dag och en uppfattning om uppgiftens krav i en lista.
                </li>
                <li>
                    <b>Omvandlare</b> sidan är där användaren har möjlighet att konvertera olika värden: meter till fot, celsius till fahrenheit och centimeter till inches, användaren har också möjlighet att välja åt vilket håll det ska konverteras med en toggle switch. Efter siffran har angetts klickar man på konvertera knappen som då öppnar upp ett result-box som visar resultatet.
                </li>
                <li>
                    <b>Om sida</b> som beskriver syftet och information om webbsidan.
                </li>
            </ul> 
        </div>

        <div class="abtDivRight">
            <h3>Skapandet & Slutsatser:</h3>
            <p>
                Webbplatsen byggdes med hjälp av Angular med fristående komponenter och routing för att strukturera de tre huvudsidorna. Enhetsomvandlaren utvecklades med toggle switches för att låta användarna välja riktningen för konverteringen, och resultaten visas med hjälp av en återanvändbar resultatboxkomponent.

                <br><br>

                En responsiv layout skapades med SCSS och media queries för att säkerställa att sidan fungerar över olika skärmstorlekar. Teckensnittsstil, ikon och färgteman lades till för att få en mer personlig webbplats.

                <br><br>

                En av de mer utmanande aspekterna var att ansluta SCSS över komponenter och få tillgångar som bilder att visas korrekt på grund av Angulars konfiguration. Att arbeta igenom dessa problem bidrog till att stärka min förståelse för hur Angular hanterar filstruktur och tillgångsladdning.
            </p>
        </div>
    </section>
</main>