$backgroundColor: #FEF9F2;
$bodyFont: #314b67;

$navFootColor: #C9E9D2;
$h1Font: #316757;
$iconColor: #0c5d63;
$linkText: #003b1f;
$linkBorder: #002b1780;
$linkHover: #789DBC;

$mainSectionColor: #c7e1e6;
$h2Font: #0a2f81;
$extraBlue: #B3C8CF;

$btnBackground: #E1ACAC;
$btnFont: #3D0301;
$btnHover: #A87676;

$ExtraColor: #CA8787;
