<!DOCTYPE html>
<html lang="se">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Converter</title>
</head>
<body>
    <nav>

    </nav>
    <main>
        <h2>Omvandlare</h2>

        <div class="converter">
        <h3>Mätomvandlare</h3>
        <label for="meters">Meter:</label>
        <input id="meters" type="number" [(ngModel)]="meters">
        <button (click)="convertToFeet()">Konvertera till Fot</button>
        <p *ngIf="feetResult !== null">Resultat: {{ feetResult }} fot</p>

        <br><br>

        <h3>Temperaturomvandlare</h3>
        <label for="celsius">Celsius:</label>
        <input id="celsius" type="number" [(ngModel)]="celsius">
        <button (click)="convertToFahrenheit()">Konvertera till Fahrenheit</button>
        <p *ngIf="fahrenheitResult !== null">Resultat: {{ fahrenheitResult }} °F</p>
        </div>
    </main>

</body>
</html>