<h2>Hemsida</h2>

<section class="layout">

    <section class="uppgift">
        <h3>Om Uppgiften</h3>
        <ul>
            <li>Skapad med Angular</li>
            <li>Minst tre sidor (start, konvertering, om projekt)</li>
            <li>Omvandlare för olika enheter med toggle-funktion</li>
            <li>Bild inkluderad på startsidan</li>
            <li>Navigeringsmeny med Angular router</li>
            <li>Komponenter (resultat-box på omvandlare sidan & footer på alla sidor)</li>
            <li>Styling med Angular's global styling och SCSS</li>
            </ul>
    </section>

    <div class="Pic">
        <picture>
            <source srcset="assets/images/webp_AutumnSnow.webp" type="image/webp">
            <source srcset="assets/images/jpg_AutumnSnow.jpg" type="image/jpeg">
            <img src="assets/images/jpg_AutumnSnow.jpg" alt="Bild på höst träd med orange löv och snö">
        </picture>
    </div>
</section>