@use '../../../styles/theme' as *;

footer {
    background-color: $navFootColor;
    padding: 0.5em 1em;
    font-size: 0.6em;
    display: grid;
    grid-row: auto;
    grid-column: 1fr 1fr;

    #footLeft {
        grid-row: 1;
        grid-column: 1/2;
        align-content: center;
    }
    #footLeft h4 {
        font-family: Gabriela, serif;
        margin-bottom: 2%;
    }
    #footLeft #copyright{font-size: 0.7em; margin-top: 2%;}
    #footLeft p {padding-left: 10px;}

    #footRight {
        grid-row: 1;
        grid-column: 2/3;
        padding-right: 10px;
        text-align: end;
        align-content: center;
    }
    #footRight ul {list-style: none;}
    #footRight li a {
        color: $linkText;
        font-size: 0.9em;
        cursor: pointer;
        &:hover {
            color: $linkHover;
        }
    }

    @media (min-width: 700px) {
        font-size: 75%;
    }
}